* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}
s nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
