footer {
  /* position: absolute; */
  padding-top: 40px;
  color: black;
  font-family: 'Open Sans';
  padding-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content p {
  max-width: 500px;
  margin: auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1 rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
}

.socials a {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}

.socials a:hover {
  color: black;
}

.footer-bottom {
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
}
