.homePageImagesWrapper {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
  align-items: center;
  justify-content: center;
  /* width:100%; */
  margin: 20px;
}

.eachHomePageImage {
  margin: 10px;
}
