.homePageImagesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}

.homePageImagesGridItem {
  width: 50%;
  flex-basis: 33%;
  padding: 8px;
  justify-content: center;
}

.homePageImagesGridItem {
  margin: 10px;
  width: 600px;
  height: 600px;
  float: left;
  background-size: cover;
  position: relative;
}

.homePageImagesGridItem h2 {
  position: absolute;
  bottom: 50%;
  left: 10px;
  background: rgb(235, 206, 121);
  padding: 20px;
  color: black;
  margin: 10px;
  font: 30px Sans-Serif;
  font-weight: bold;
  text-align: center;
  opacity: 0.85;
}

@media screen and (max-width: 600px) {
  .homePageImagesContainer {
    width: 100%;
    margin: 0px;
  }
  .homePageImagesContainer .homePageImagesGridItem {
    width: 100%;
    padding: 10px;
    flex-basis: 100%;
  }
}

/* .homePageImagesContainer {

  display: grid;
  grid-template-areas:
  '...eachPic eachPic...'
  '...eachPic eachPic...';
  grid-auto-columns: 0.25fr 1fr 1fr 0.25fr;
  grid-auto-rows: auto;
  justify-content: center;
  row-gap: 30px;
  column-gap: 30px;
}



.homePageImagesGridItem {
  grid-area:eachPic;
  margin: 10px;
  width: 600px;
  height: 600px;
  float: left;
  background-size: cover;
  position: relative;
}

.homePageImagesGridItem h2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgb(235, 206, 121);
  padding: 20px;
  color: black;
  margin: 10px;
  font: 30px Sans-Serif;
  font-weight: bold;
  text-align: center;
  opacity: 0.85;
}

@media screen and (max-width: 600px) {
  .homePageImagesContainer {
    grid-template-areas: 
    'eachPic';

    grid-auto-columns: 1fr;
  }
 
} */
