.homePageImagesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
}

.homePageImagesGridItem {
  width: 50%;
  padding: 10px;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .homePageImagesContainer {
    width: 100%;
    margin: 0px;
  }
  .homePageImagesContainer .homePageImagesGridItem {
    width: 100%;
    padding: 5px;
  }
}
