.menuContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 50px;
}

.eachMenu {
  width: 100%;
  margin: 30px;
  font-size: 20px;
}

.menuGridItem {
  border-bottom: 15px dashed black;
  margin: 30px;
}

@media screen and (max-width: 1100px) {
  .menuContainer {
    width: 100%;
    /* text-align: center; */
    margin: 50px 0 0 0;
    /* margin-left:0px;
  
    margin-top:50px; */
  }

  .menuContainer .eachMenu {
    /* width:100%; */
    /* text-align: center; */
    margin: 30px 0 30px 0;
  }
  .menuContainer .eachMenu .menuGridItem {
    width: 100%;
    margin: 0px;
    padding: 10px;
  }
}
