.menuContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.menuGridItem {
  text-align: center;
  /* width: 50%;  */
  margin: auto;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .menuContainer {
    width: 100%;
    margin: 10px;
    justify-content: center;
  }
  .menuContainer .menuGridItem {
    width: 100%;
    padding: 10px;
  }
}
